NET "LED[7]" LOC = "F12" | IOSTANDARD = "LVCMOS33";
NET "LED[6]" LOC = "E12" | IOSTANDARD = "LVCMOS33";
NET "LED[5]" LOC = "E11" | IOSTANDARD = "LVCMOS33";
NET "LED[4]" LOC = "F11" | IOSTANDARD = "LVCMOS33";
NET "LED[3]" LOC = "C11" | IOSTANDARD = "LVCMOS33";
NET "LED[2]" LOC = "D11" | IOSTANDARD = "LVCMOS33";
NET "LED[1]" LOC = "E9" | IOSTANDARD = "LVCMOS33";
NET "LED[0]" LOC = "F9" | IOSTANDARD = "LVCMOS33";
NET "LCD[7]" LOC = "M15" | IOSTANDARD = "LVCMOS33";
NET "LCD[6]" LOC = "P17" | IOSTANDARD = "LVCMOS33";
NET "LCD[5]" LOC = "R16" | IOSTANDARD = "LVCMOS33";
NET "LCD[4]" LOC = "R15" | IOSTANDARD = "LVCMOS33";
NET "LCD_RS" LOC = "L18" | IOSTANDARD = "LVCMOS33";
NET "LCD_RW" LOC = "L17" | IOSTANDARD = "LVCMOS33";
NET "LCD_E" LOC = "M18" | IOSTANDARD = "LVCMOS33";
NET "STRATAFLASH_OE" LOC = "C18" | IOSTANDARD = "LVCMOS33";
NET "STRATAFLASH_WE" LOC = "D17" | IOSTANDARD = "LVCMOS33";
NET "STRATAFLASH_CE" LOC = "D16" | IOSTANDARD = "LVCMOS33";
NET "SYS_CLK" LOC = "C9" | IOSTANDARD = "LVCMOS33";
NET "SYS_RST" LOC = "K17" | IOSTANDARD = "LVCMOS33" | PULLDOWN;
NET "sys_clk" TNM_NET = "sys_clk";
TIMESPEC "TS_sys_clk" = PERIOD "sys_clk" 20 ns HIGH 50 %;
OFFSET = IN 10 ns BEFORE "sys_clk"  ;
OFFSET = OUT 10 ns AFTER "sys_clk"  ;
